{% extends 'basic.html' %}


{% block title %}About Us{% endblock %}
{% block css %}{% endblock %}
{% block body %}


<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">About Us</h1>
      <p>This is an about page which stores all my information related to this website which is made my me.As it is an introductory website and I have to write more about this.It is a dummy website for an e-commerce use. I practice my skills through this website and wanted to show it to everyone to present it.</p>
      <p><a class="btn btn-primary btn-lg" href="/aboutus/" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>History</h2>
        <p>The history about this website is that I started working on this website few days back.I will complete this website as soon as possible.And will complete it very soon. </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Career</h2>
        <p>I wanted to learn more in this wen development and work and learn it in more deeply.</p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>


    <hr>

  </div> <!-- /container -->
  </div>
</main>




{% endblock %}